fastapi
uvicorn[standard]
python-dotenv
redis
rq
python-multipart
SQLAlchemy>=2.0
pdfplumber
PyMuPDF
python-docx
pytest
pytesseract>=0.3.10
transformers==4.35.0
tokenizers
sentence-transformers
faiss-cpu
filelock
numpy